@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
main{
    margin: auto;
    width: 500px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 10px 10px 16px rgba(58, 29, 176, 0.702);
}
body{
    background-image: linear-gradient(17deg, #6c89fb, #191f3a);
    background-attachment: fixed;
}
h1{
    color: #485CA8;
    text-align: center;
    text-shadow: 1px 1px 3px #384782;
}
h2{
    color: #3F4AA8;
}
p{
    text-align: justify;
    font-family: Lora;
    font-weight: bolder;
}