@charset "UTF-8";

main{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#pesquisa{
    display: block;
    border: 6px solid black;
    border-radius: 50px;
    width: 16cm;
}